# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.env
.venv
env/
venv/
ENV/
*.env
*.venv
pip-wheel-metadata/
*.log
*.sqlite3
*.db
*.pkl
*.pickle
.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# VSCode
.vscode/
*.code-workspace
.history/
*.log

# labs folder
labs/
